<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShouldCleanCache</key>
	<string>YES</string>
	<key>AppStoreUrl</key>
	<string>itms-apps://itunes.apple.com/cn/app/yun-neng-xiao/id731298599</string>
	<key>QRCodeUrl</key>
	<string>Images/iPadQR.png</string>
	<key>DataSources</key>
	<dict>
		<key>local</key>
		<dict>
			<key>url</key>
			<string>http://10.177.201.75/mobile/</string>
			<key>timeout</key>
			<string>900</string>
			<key>debug-logmode</key>
			<integer>2</integer>
			<key>debug-user</key>
			<string>SchneiderElectricChina|P@ssw0rdChina</string>
		</dict>
		<key>dev</key>
		<dict>
			<key>url</key>
			<string>http://115.29.189.211/v1.6.0.5/mobile/mobileapihost/</string>
			<key>timeout</key>
			<string>90</string>
			<key>debug-logmode</key>
			<integer>2</integer>
		</dict>
		<key>test</key>
		<dict>
			<key>url</key>
			<string>http://test.energymost.com/v1.9.0.0/mobile/</string>
			<key>timeout</key>
			<string>70</string>
			<key>debug-logmode</key>
			<integer>2</integer>
			<key>debug-user</key>
			<string>SchneiderElectricChina|P@ssw0rdChina</string>
		</dict>
		<key>production</key>
		<dict>
			<key>url</key>
			<string>http://emopmobile.energymost.com/</string>
			<key>timeout</key>
			<string>70</string>
			<key>logRequest</key>
			<integer>0</integer>
			<key>debug-logmode</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>CurrentDataSource</key>
	<dict>
		<key>Debug</key>
		<string>test</string>
		<key>DailyBuild</key>
		<string>test</string>
		<key>Release</key>
		<string>production</string>
	</dict>
	<key>Services</key>
	<dict>
		<key>REMDSUserValidate</key>
		<dict>
			<key>ID</key>
			<real>101001</real>
			<key>Url</key>
			<string>API/AccessControl.svc/ValidateUser</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSDemoUserValidate</key>
		<dict>
			<key>ID</key>
			<integer>101002</integer>
			<key>Url</key>
			<string>API/AccessControl.svc/ValidateDemoUser</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSUserCustomerValidate</key>
		<dict>
			<key>ID</key>
			<integer>101003</integer>
			<key>Url</key>
			<string>API/AccessControl.svc/ValidateUserCustomer</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSUserGetCurrent</key>
		<dict>
			<key>ID</key>
			<real>102001</real>
			<key>Url</key>
			<string>API/User.svc/GetCurrentUser</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSUserSendContactMail</key>
		<dict>
			<key>ID</key>
			<real>102002</real>
			<key>Url</key>
			<string>API/User.svc/SendContactUsMail</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSCustomerLogo</key>
		<dict>
			<key>ID</key>
			<integer>103001</integer>
			<key>Url</key>
			<string>API/Hierarchy.svc/GetCustomerLogo</string>
			<key>Type</key>
			<integer>2</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSCustomerSwitch</key>
		<dict>
			<key>ID</key>
			<integer>10103002</integer>
			<key>Url</key>
			<string>API/Customer.svc/SwitchCustomer</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingInfo</key>
		<dict>
			<key>ID</key>
			<integer>104001</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingInfo</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingCommodityTotalUsage</key>
		<dict>
			<key>ID</key>
			<integer>104002</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingCommodityUsage</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingOverallData</key>
		<dict>
			<key>ID</key>
			<integer>104003</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingOverallData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingTimeRangeData</key>
		<dict>
			<key>ID</key>
			<integer>104005</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingTimeRangeData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingPicture</key>
		<dict>
			<key>ID</key>
			<integer>104006</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingPicture</string>
			<key>Type</key>
			<integer>2</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingAirQualityTotalUsage</key>
		<dict>
			<key>ID</key>
			<integer>104007</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingAirQualityUsage</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingAirQuality</key>
		<dict>
			<key>ID</key>
			<integer>104008</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingAirQualityData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingPinningToCover</key>
		<dict>
			<key>ID</key>
			<integer>104009</integer>
			<key>Url</key>
			<string>API/Building.svc/CreateBuildingCoverRelation</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingInfoUpdate</key>
		<dict>
			<key>ID</key>
			<integer>104010</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingInfoUpdate</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSBuildingAverageDataWithBaseline</key>
		<dict>
			<key>ID</key>
			<integer>104011</integer>
			<key>Url</key>
			<string>API/Building.svc/GetBuildingAverageUsageDataWithBaseline</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyTagsTrend</key>
		<dict>
			<key>ID</key>
			<integer>106001</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetTagsData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyTagsTrendUnit</key>
		<dict>
			<key>ID</key>
			<integer>106002</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetEnergyUsageUnitData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyTagsDistribute</key>
		<dict>
			<key>ID</key>
			<integer>106003</integer>
			<key>Url</key>
			<string>API/Energy.svc/AggregateTagsData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyMultiTimeTrend</key>
		<dict>
			<key>ID</key>
			<integer>106004</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetTagsData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyMultiTimeDistribute</key>
		<dict>
			<key>ID</key>
			<integer>106005</integer>
			<key>Url</key>
			<string>API/Energy.svc/AggregateTimeSpansData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCarbon</key>
		<dict>
			<key>ID</key>
			<integer>106006</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetCarbonUsageData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCarbonUnit</key>
		<dict>
			<key>ID</key>
			<integer>106007</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetCarbonUsageUnitData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCarbonDistribute</key>
		<dict>
			<key>ID</key>
			<integer>106008</integer>
			<key>Url</key>
			<string>API/Energy.svc/AggregateCarbonUsageData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCost</key>
		<dict>
			<key>ID</key>
			<integer>106009</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetCostData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCostUnit</key>
		<dict>
			<key>ID</key>
			<integer>106010</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetCostUnitData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCostDistribute</key>
		<dict>
			<key>ID</key>
			<integer>106011</integer>
			<key>Url</key>
			<string>API/Energy.svc/AggregateCostData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCostElectricity</key>
		<dict>
			<key>ID</key>
			<integer>106012</integer>
			<key>Url</key>
			<string>API/Energy.svc/GetElectricityCostData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyCostDistributeElectricity</key>
		<dict>
			<key>ID</key>
			<integer>106018</integer>
			<key>Url</key>
			<string>API/Energy.svc/AggregateElectricityCostData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyRatio</key>
		<dict>
			<key>ID</key>
			<integer>106013</integer>
			<key>Url</key>
			<string>API/Energy.svc/RatioGetTagsData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyRankingEnergy</key>
		<dict>
			<key>ID</key>
			<integer>106014</integer>
			<key>Url</key>
			<string>API/Energy.svc/RankingEnergyUsageData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyRankingCost</key>
		<dict>
			<key>ID</key>
			<integer>106015</integer>
			<key>Url</key>
			<string>API/Energy.svc/RankingCostData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyRankingCarbon</key>
		<dict>
			<key>ID</key>
			<integer>106016</integer>
			<key>Url</key>
			<string>API/Energy.svc/RankingCarbonData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSEnergyLabeling</key>
		<dict>
			<key>ID</key>
			<integer>106017</integer>
			<key>Url</key>
			<string>API/Energy.svc/LabellingGetTagsData</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
		<key>REMDSLogSend</key>
		<dict>
			<key>ID</key>
			<integer>107001</integer>
			<key>Url</key>
			<string>API/Log.svc/SendLog</string>
			<key>Type</key>
			<integer>1</integer>
			<key>Processor</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
