<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <style type="text/css">
            .sign{font-size:12px; color: gray}
        </style>
    </head>
    <body>
        <table cellspacing="0" border="1">
            <tbody>
                <tr>
                    <td rowspan="4">##BuildingName##</td>
                    <td>##TotalUsageTitle##</td>
                    <td colspan="3">##TotalUsage##</td>
                </tr>
                <tr>
                    <td>##Co2UsageTitle##</td>
                    <td>##Co2Usage##</td>
                    <td>##AnnualAverageUsageTitle##</td>
                    <td>##AnnualAverageUsage##</td>
                </tr>
                <tr>
                    <td>##RankingTitle##</td>
                    <td>##Ranking##</td>
                    <td>##IndustryStandardTitle##</td>
                    <td>##IndustryStandard##</td>
                </tr>
                <tr>
                    <td>##TargetTitle##</td>
                    <td>##TargetValue##</td>
                    <td>##EfficiencyTitle##</td>
                    <td>##AnnualEfficiency##</td>
                </tr>
            </tbody>
        </table>
        <p class="sign">##Charts##</p>
        <p class="sign">##Sign##</p>
        <p><img src="##iPadQRCode##"></img></p>
    </body>
</html>