<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <style type="text/css">
            .sign{font-size:12px; color: gray}
        </style>
    </head>
    <body>
        <table cellspacing="0" border="1">
            <tbody>
                <tr>
                    <td rowspan="2">##BuildingName##</td>
                    <td>##IndoorTitle##</td>
                    <td>##HoneywellVal##</td>
                    <td>##HoneywellTitle##</td>
                    <td>##HoneywellVal##</td>
                </tr>
                <tr>
                    <td>##OutdoorTitle##</td>
                    <td>##OutdoorVal##</td>
                    <td>##MayairTitle##</td>
                    <td>##MayairVal##</td>
                </tr>
            </tbody>
        </table>
        <p class="sign">##Sign##</p>
        <p><img src="##iPadQRCode##"></img></p>
    </body>
</html>