<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict />
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>EMOP_App_7</string>
				<string>EMOP_APP_7</string>
				<string>EMOP_App_6</string>
				<string>EMOP_Spotlight_7</string>
				<string>EMOP_Setting</string>
				<string>EMOP_Spotlight_6</string>
				<string>EMOP_App_Phone_7</string>
				<string>EMOP_App_Phone_6</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>cn.com.schneider-electric.BluesPad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>396</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>UIAppFonts</key>
	<array>
		<string>Hiragino-Sans-GB-W3.ttf</string>
		<string>MyriadSetPro-Thin.ttf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false />
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape-IOS7</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_IPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_IPad</string>
	<key>UIPrerenderedIcon</key>
	<true />
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true />
</dict>
</plist>