<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShouldCleanCache</key>
	<true/>
	<key>DataSources</key>
	<dict>
		<key>local</key>
		<dict>
			<key>url</key>
			<string>http://stg.energymost.com/</string>
			<key>debug-user</key>
			<string>SchneiderElectricChina|P@ssw0rdChina</string>
		</dict>
		<key>dev</key>
		<dict>
			<key>url</key>
			<string>http://10.177.0.35/Mobile/</string>
			<key>debug-user</key>
			<string>SchneiderElectricChina|P@ssw0rd</string>
		</dict>
		<key>test</key>
		<dict>
			<key>url</key>
			<string>http://112.124.56.137/v1.5.0.15/Mobile/MobileApiHost/</string>
			<key>debug-user</key>
			<string>SchneiderElectricChina|P@ssw0rdChina</string>
		</dict>
		<key>production</key>
		<dict>
			<key>url</key>
			<string>http://emopmobile.energymost.com/</string>
		</dict>
	</dict>
	<key>CurrentDataSource</key>
	<dict>
		<key>Debug</key>
		<string>production</string>
		<key>DailyBuild</key>
		<string>test</string>
		<key>Release</key>
		<string>production</string>
	</dict>
</dict>
</plist>
